$base-color: #59524c;
$highlight-color: #c7a589;
$notification-color: #9ea476;
<<<<<<< HEAD
$low-contrast-theme: "true";
=======
>>>>>>> 902e8d80fabcb61ed5c3b481d4a1821e7cec249c

$form-checked: $base-color;

@import "../_admin.scss";
