body{
    font-family: 'Montserrat';
}

.main-content{
    min-height: 650px;
}


/* NAV */

.tok-nav{
    padding: .3rem 1rem !important;
    background-color: #EBEBEB !important;
}
.nav-logo{
    width:190px;
    height:70px;
}
.navbar-toggler-icon{
    background:gray;
}

.tok-nav{
    font-size: .8rem;
    text-transform: uppercase;
}
.tok-nav-link{
    color: #1A1A1A !important;
}
.tok-nav-link.active{
    color: #555555 !important;
}
.tok-nav-link:hover{
    color: #555555 !important;
    text-decoration: none;
}

.tok-btn-nav{
    background-color: #01E3D8;
    color: #FFF;
    font-size: .8rem;
    font-weight: 700;
    padding:7px 25px;
    border-radius: 20px;
}
.tok-btn-nav:hover{
    color: #FFF;
    background-color: #00CEC4;
}


/* BANNER */
.type-label{
    margin-left:70px;
}
.type-container{
    border:2px solid rgb(223, 223, 223);
    padding:15px;
    margin-left:70px;
    background: #FFF;
}
.txt-rotate{
    font-size:24px;
    text-align:left;
    color:#000;
}
.tok-banner{
    background: url(../img/david-leveque-54vXtfOpR1Q-unsplash.jpg) #000 no-repeat 300px -400px;
    background-size: cover;
    padding: 7rem 2rem;
}
.tok-banner-subtitle{
    color:#FFF;
    text-transform: uppercase;
    font-size:2rem;
    padding:0;
    margin:0;
}
.tok-banner-title{
    color:#FFF;
    font-size:3.5rem;
    font-weight: 700;
    padding:0;
    margin:0;
}
.tok-banner-text{
    color:#FFF;
    margin:2rem 0;
}

.tok-btn-outline-rounded{
    background-color: #000;
    color: #FFF;
    border:5px solid #FFF;
    font-size: .8rem;
    font-weight: 700;
    padding:7px 25px;
    border-radius: 20px;
}
.tok-btn-outline-rounded:hover{
    background-color: #FFF;
    color: #000;
}
.tok-btn-outline-rounded-highlight{
    color: #FFCF43;
    border:5px solid #FFCF43;
}
.tok-btn-outline-rounded-highlight:hover{
    background-color: #FFCF43;
    color: #FFF;
}


/* CATEGORIES */
.tok-card-category{
    border:none;
    position: relative;
}
.tok-card-hp-category{
    padding: 10rem 0rem;
}

.tok-card-hp-category-text{
    position: absolute;
    bottom: 1rem;
    right:2rem;
    color:#FFF;
    text-transform: uppercase;
    font-size:1.5rem;
    font-weight: 700;
    z-index: 2;
}
.tok-category-math{
    background: url(../img/wu-yi-Bfrk9RCOhRE-unsplash.jpg) no-repeat -120px 0;
    background-size: cover;
}
.tok-category-general{
    background: url(../img/tim-mossholder-WE_Kv_ZB1l0-unsplash.jpg) no-repeat -120px 0;
    background-size: cover;
}
.tok-category-science{
    background: url(../img/nasa-rTZW4f02zY8-unsplash.jpg) no-repeat 0 0;
    background-size: cover;
}
.tok-category-reading{
    background: url(../img/annie-spratt-Mmi_sUHNazo-unsplash.jpg) no-repeat 0 0;
    background-size: cover;
}
.tok-card-cover{
    background:#000;
    position: absolute;
    width:100%;
    padding: 10rem 0rem;
    z-index: 1;
    opacity: 50%;
}
.tok-card-cover:hover{
    opacity: 0;
    cursor: pointer;
}



/* TEXTS */
.tok-text-uppercase{
    text-transform: uppercase;
}
.tok-text-bold{
    font-weight: 7OSLI00;
}


/* BUTTONS */
.tok-btn-solid{
    font-size: .8rem;
    font-weight: 500;
    padding:7px 20px;
    border-radius: 20px;
    
}
.tok-btn-solid.blue{
    background-color: #032451;
    color: #FFF;
    border:5px solid #032451;
}
.tok-btn-solid.black{
    background-color: #000;
    color: #FFF;
    border:5px solid #000;
}
.tok-btn-solid.white{
    background-color: #FFF;
    color: #000;
    border:3px solid #000;
}
.tok-btn-solid .btn-label i{
    font-size:20px;
    margin-right:15px;
}


/* FORMS */
.tok-input{
    padding:10px 15px;
    border:1px solid #1A1A1A
}



/* FOOTER */
.tok-footer{
    width: 100%;
    height: 80px; /* Set the fixed height of the footer here */
    background-color: #032451;
    
}
.tok-footer-text{
    color:#FFF;
    font-size:0.8rem;
}
.list-inline{display:block;}
.list-inline li:after{content:'|'; margin:0 10px;}
.list-inline li:last-child:after {content: '';}
