$base-color: #738e96;
$icon-color: #f2fcff;
$highlight-color: #9ebaa0;
$notification-color: #aa9d88;
<<<<<<< HEAD
$low-contrast-theme: "true";
=======
>>>>>>> 902e8d80fabcb61ed5c3b481d4a1821e7cec249c

$form-checked: $base-color;

@import "../_admin.scss";
